.calander-mangmt-top-grid {
    float: left;
    width: 100%;
    display: block;
    margin-top: 0px;
    display: -ms-grid;
    display: grid; 
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 30px 20px;
    grid-auto-rows: minmax(0px, auto); 
    padding-bottom: 30px;
}
.cal-setup-head {
    padding-bottom: 5px;
    margin-top: -25px;
}
.caladr-table{ 
    margin-top: -1px !important; 
}
.create-hilidy {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 18px;
}


.custom-date-field {
    border: 0.5px solid #7B8EB0;
    padding: 15px 15px;
    font-size: 12px;
    margin-bottom: 0px;
    border-radius: 5px;
    width: 50%;
    float: left;
    margin-top: 15px;
    margin-bottom: 25px;
}
  
  .custom-date-field input {
    background-color: #ffffff;
    border: none;
    padding: 5px 0px;
    width: 100%;
    font-size: 15px;
    color: #9F9898;
   }
  
  .custom-date-field span {
    display: block;
    font-size: 12px;
    color: #9F9898;
  }
  
  .custom-date-field label {
    width: 100%;
    display: inline-block; 
    font-size: 18px;
    padding-bottom: 10px;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block; 
    background-image: url("../images/dateicon.png");
    width: 20px;
    height: 20px;
    border-width: thin;
}
.b-rads-tb-r {
    border-top-right-radius: 0px 0px;
    border-bottom-right-radius: 0px 0px;
}
.b-rads-tb-l {
    border-top-left-radius: 0px 0px;
    border-bottom-left-radius: 0px 0px;
    border-left: 0px;
}
.clandr-add-btn {
    font-weight: 500;
    padding: 25px 110px;
}
@media only screen and (max-width: 1900px){
.document-table {
    width: 100%;
    float: left;
    display: block;
    overflow: scroll;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: 15px;
}
}
@media only screen and (max-width: 1200px) {
    .calander-mangmt-top-grid { 
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 30px 20px; 
    }
    .document-table {
        width: 100%;
        float: left;
        display: block;
        overflow: scroll;
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow: auto;
        margin-bottom: 15px;
    }
    }
@media only screen and (max-width: 980px) {
    .calander-mangmt-top-grid { 
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 30px 20px; 
    }
    }