.notifi-con-magn-t {
    margin-top: -30px; 
}
.notifi-con-brd-b { 
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 25px;
}
.notifi-setp-block {
    margin-top: 25px;
} 
.notifi-pt-5 {
    padding-top: 5px;
}
.notifi-pt-3 {
    padding-top: 3px;
}
.notifi-brdr-top { 
    margin-top: 25px;
}
.notifi-list-block:hover {
    background: #f7f7f7;
}