.user-manage-one-grid {
    float: left;
    width: 100%;
    display: block;
    margin-top: 10px;
    display: -ms-grid;
    display: grid; 
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 30px 20px;
    grid-auto-rows: minmax(0px, auto); 
    padding-bottom: 10px;
}
.user-manage-two-grid {
    float: left;
    width: 100%;
    display: block;
    margin-top: 10px;
    display: -ms-grid;
    display: grid; 
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 30px 20px;
    grid-auto-rows: minmax(0px, auto); 
    padding-bottom: 10px;
}
.user-mar-top{
    margin-top: 30px;
}
.user-mar-bot{
    margin-bottom: 30px;
}
.user-manage-top-bord {
    border-top: 1px solid #ddd;
}
.font-weght-b {
    font-weight: 600 !important;
}
@media only screen and (max-width: 768px){
    .user-manage-two-grid { 
        grid-template-columns: repeat(1, 1fr) !important; 
    } 
  }